button {
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid black;
    background: none;
    padding: 5px;
    border-radius: 5px;
}

h1{
    font-size: 30px;
}
.red{
    color: red;
}
.green{
    color: green;
}